.Main
{
	background-color: #1f1f1f;
	border-radius: 2.5px;
	border-color: transparent;

	justify-content: center;
}

.Message
{
	background-color: transparent;
	border-radius: 5px;
	border-color: transparent;

	-unity-font-definition: var(--font-genshin);
	font-size: 12px;

	align-self: center;
}